---
import Layout from "../components/Layout.astro";
import Button from "../components/ButtonSubscribe";


---

<Layout
	pageTitle="Pagina inicial"
	pageDescription="es una pagina para ofrecer una servicios de software"
>
	<h1>Pagina inicial</h1>
	<p>Bievenido a mi blog</p>

	Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, et aliquid
	veritatis voluptates nulla voluptas! Perspiciatis velit reprehenderit
	aperiam ad aut? Eligendi placeat, quod molestias asperiores, amet
	consequatur quas facere, eum labore voluptatibus saepe incidunt! Cumque
	quod, debitis exercitationem accusamus possimus obcaecati numquam. Deleniti
	eum soluta, velit obcaecati beatae in eligendi labore ullam provident ipsa
	suscipit facere molestias libero adipisci omnis nihil, mollitia assumenda,
	atque quo repudiandae veniam? Veritatis libero qui deleniti laborum saepe
	sapiente porro, temporibus perferendis nobis inventore maiores dignissimos
	consequuntur quidem quae, id est itaque veniam nam. Facilis vitae excepturi
	illum voluptate at voluptas totam labore, modi reprehenderit soluta
	molestias natus delectus ex veritatis voluptatum animi aperiam quo id.
	Obcaecati, numquam eius dicta, reiciendis sed, ratione commodi veniam alias
	nostrum molestiae et enim facere. Animi rerum odit iste! Qui nemo explicabo,
	esse libero labore molestiae totam animi blanditiis quasi perspiciatis quae
	distinctio velit. Id adipisci dolorum saepe, deleniti obcaecati alias
	dolores accusantium voluptatum fuga minima inventore eligendi dolorem eos
	delectus hic? Facere unde, voluptas tenetur, itaque cum et reiciendis velit
	sint vitae maxime eum rerum? Hic id eligendi, necessitatibus error dolorem
	facere sit perspiciatis. Necessitatibus similique, eveniet magnam, vitae
	nesciunt a impedit dolores ipsam delectus, quis et harum assumenda molestias
	suscipit sequi! Blanditiis dignissimos eveniet dolores officia at, ea quos
	alias laudantium mollitia similique nobis unde minima voluptas odio facere
	eos molestiae atque amet modi vel iste. Corrupti odit hic ducimus laudantium
	praesentium impedit atque magnam consequuntur possimus. Vitae ex repudiandae
	aut libero placeat consectetur laboriosam impedit, ratione cupiditate animi
	nobis dolorem recusandae facilis autem necessitatibus possimus corrupti,
	illo deserunt perspiciatis soluta doloremque. Modi, rem fugit, excepturi
	ipsum sed dolor iste fuga voluptatem voluptas impedit assumenda quis ut.
	Assumenda nam eaque, ut necessitatibus vitae expedita iste iusto esse quas
	aliquam aperiam aliquid! Nihil quaerat a repellendus numquam voluptatem
	ipsum aperiam incidunt iure laborum. Doloribus molestiae dignissimos sequi
	ab tenetur accusantium esse perspiciatis molestias dolorem dolorum sint sunt
	laboriosam saepe, itaque repellendus asperiores necessitatibus nobis. Vitae
	accusantium non animi dicta officiis sit magni cum beatae facere, reiciendis
	ad facilis inventore enim! Nesciunt iste voluptatibus neque. Explicabo
	placeat odio dicta vel sequi, quidem amet odit quaerat, tempora iure earum
	quasi excepturi ullam, laboriosam incidunt ad sapiente nam magnam veritatis
	temporibus. Hic dolore corrupti illum, doloremque alias dolores dicta
	ratione ab labore unde dolorem quam mollitia dolorum, pariatur iure.
	Deleniti impedit sint vero tempora dicta vel natus sed molestias consequatur
	hic! Iure dolor tenetur incidunt tempore. Dolores harum facilis et voluptate
	nobis ut, labore voluptates eveniet eaque officia quae hic a quam,
	reprehenderit quo dignissimos voluptatem nemo libero ipsa nihil? Aperiam
	quod et quas autem necessitatibus numquam praesentium earum dignissimos
	impedit harum maiores voluptate amet, saepe ipsa aliquam, sunt provident
	facere. Ipsum, nulla vel. Dolorem voluptates ratione consequatur accusantium
	recusandae. Suscipit rerum placeat sequi autem quis laboriosam repellendus
	fuga officiis numquam. Commodi unde magni dignissimos obcaecati rem, tempora
	similique distinctio, assumenda quam quod officiis nostrum exercitationem
	doloremque quos sunt amet. Temporibus veritatis nulla odit laudantium
	ducimus quam inventore blanditiis ut eos labore perferendis numquam iste quo
	assumenda quia, nam nobis, cum porro tempore impedit modi sit eius?
	Voluptatum fugiat a quia delectus! Deleniti, esse aliquid. Nemo doloremque
	facilis quis eligendi praesentium ipsum alias corporis non reprehenderit
	minima reiciendis, in voluptatibus fuga consequuntur beatae modi! Porro
	fugiat impedit id debitis quas doloribus natus vitae! Atque aspernatur aut
	nemo soluta. Nesciunt iste sit, quasi veritatis adipisci id sint esse,
	tempore doloremque, laborum ex optio neque ipsa rem necessitatibus sapiente
	architecto illum cumque quia nam officiis praesentium delectus labore
	distinctio. Quam fugiat facilis atque, iste at dolorem dolores esse ratione
	sequi veritatis, explicabo doloremque aspernatur quia eveniet dignissimos
	id. Amet, est quibusdam! Fuga natus adipisci libero soluta odio maxime quia
	dolorum. Tempore odio deleniti sit voluptatibus? Nihil fugiat a accusantium
	placeat, molestias cumque quibusdam aspernatur ex. Quam facilis iste porro
	cupiditate voluptate culpa esse dolor optio eveniet voluptatum error est
	minima architecto, sapiente, tenetur officia dolore labore quae a harum
	nisi, maiores necessitatibus? Obcaecati laboriosam temporibus similique ut!
	Facere et ut beatae ex earum esse, impedit molestiae. Sapiente sequi,
	temporibus hic adipisci et harum maxime nemo dolor. Ea sunt aliquid
	praesentium laboriosam, architecto voluptatum cum nesciunt ad blanditiis
	consequatur, vero unde incidunt quidem, inventore accusantium! Numquam
	mollitia dicta adipisci rem et nostrum quo modi soluta autem facilis! Rerum
	labore nobis distinctio magni quos dolorem laboriosam fuga minus nulla
	provident, nihil illo cumque. Aspernatur, voluptatibus. Pariatur tenetur
	dolore unde obcaecati vero repellat incidunt omnis repellendus tempore
	maiores, labore illum consectetur vitae qui, similique praesentium magnam
	quisquam perferendis, modi animi libero. Exercitationem voluptatem cum
	architecto eos delectus officiis iusto rerum odit nobis sunt atque dolorum
	molestiae corrupti aut blanditiis, officia quia. Quia aperiam necessitatibus
	temporibus maxime libero rem neque quis quae saepe facilis molestiae atque
	quasi assumenda commodi excepturi, aspernatur, aliquid vero. Neque
	similique, tempore quaerat aperiam temporibus autem ad, eaque esse delectus
	illum cupiditate natus explicabo ducimus amet voluptas et asperiores
	voluptatibus perferendis error! Hic tempore perspiciatis commodi repudiandae
	officiis eaque facere veniam nobis dignissimos velit dolor labore, debitis
	accusantium necessitatibus repellendus officia mollitia maxime quam
	assumenda suscipit iusto vero. Obcaecati excepturi ullam, unde fugiat quia
	nulla, adipisci aut ut doloribus ipsa veniam doloremque deleniti distinctio
	quaerat pariatur natus possimus iste ad. Consequuntur consectetur culpa
	deserunt eligendi eaque modi ea, vero beatae molestiae maiores, ullam
	pariatur, corrupti eveniet dolorem ipsam. Magni consequatur iusto, numquam
	ducimus sequi impedit aperiam quasi expedita ipsa omnis iste nisi voluptatum
	dolore ut debitis ea laboriosam sapiente aliquam ratione sed, pariatur esse!
	Qui fugit quia inventore ex! Earum deserunt saepe accusamus dolore in.
	Doloremque voluptatibus ducimus ipsam ex explicabo accusantium, odio
	nesciunt consectetur eveniet nam, sit sunt rerum expedita tempore doloribus
	molestias quis eligendi quasi dolorem mollitia iste culpa quod aliquid?
	Libero nostrum impedit maxime molestiae facilis perferendis excepturi
	praesentium vitae alias temporibus nesciunt accusamus provident, quaerat
	deserunt tempora aperiam ab nemo harum veritatis ipsa? Incidunt nesciunt
	illo ipsam fuga accusantium ducimus aliquam beatae, eaque sed aliquid saepe
	doloribus minima explicabo minus natus nostrum. Aut in sapiente quaerat
	porro velit?

	<Button client:visible />
</Layout>
